body {
    font-family: 'Montserrat', sans-serif;
    padding: 5%;
    left: 1%;
    right: 1%;
    text-align: justify;

}

.titulo {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 60%;
    margin: 5%
}